{% extends 'main.html' %}
<!--  -->
{% block title %} Add Movies {% endblock title %}
<!--  -->
{% block content %}
<header class="text-pred">
  <!-- Mobile Navbar -->
  
  <!-- Desktop Navbar -->

    
</header>
<main class="p-2">
  <h1 class="text-pgreen text-xl font-bold mb-4 text-center">Add Movies</h1>
    
    <!-- Movie Form -->
    <form method="POST" enctype="multipart/form-data" class="flex flex-col mx-auto w-fuu bg-pLightPurple text-black p-5 rounded-lg shadow-sm lg:w-1/2">
      {% csrf_token %}
      {{ form.as_p }}
      <button
        type="submit"
        class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pgreen transition duration-150 ease-in-out hover:bg-pgreen bg-pgreen/90 rounded text-white px-8 py-2 text-sm"
      >
        Save
      </button>
      <button
        type="reset"
        class="ml-3 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pred transition duration-150 ease-in-out hover:bg-gray-200 hover:text-pred bg-pred/90 rounded text-white px-8 py-2 text-sm"
      >
        Reset
      </button>
    </div>
  </form>

  <!-- Display messages -->
  <center>
    <small style="color: red;">
        {% for i in messages %}
        <small class="error-message">
            {{ i }}
        </small>
        {% endfor %}
    </small></center>
</div>

</main>
{% endblock content %}
